<include file="Public/new_tab_header.html" />
<body class="easyui-layout" >
<script>

$(function(){
	$("#bank_tt").datagrid({
		height:$("#bank_body").height()-$('#bank_search_area').height()-5,
		width:$("#bank_body").width(),
		idField:'userId',
		//data: data,
		url:"{:U('__MODULE__/bank/getBanks')}",  
		singleSelect:true, 
		nowrap:true,
		fitColumns:true,
		rownumbers:true,
		showPageList:false,
		columns:[[
			{field:'id',title:'ID',width:50,halign:"center", align:"left"},
			{field:'name',title:'银行名称',width:200,halign:"center", align:"left"},
			{field:'alias',title:'别称',width:300,halign:"center", align:"left"},
		]],
		toolbar:'#bank_tt_btn',  
        pagination:true,
		onDblClickRow:function(rowIndex, rowData){
			viewDetail(rowData.userId);
		}
	});
	
	//新增弹出框
	$("#bank_save").on("click", function(){
		$parent("#parent_win").window({
			width:274,
			height:225,
			href:"{:U('__MODULE__/Bank/addBank')}",
			title:'新增银行'
		});
	});
	//修改
	$("#bank_edit").on("click", function(){
		var obj =  $('#bank_tt').datagrid('getSelected');
		if( obj == undefined ){
			$parent.messager.alert("提示","请选择内容!", "info");
			return false;
		}
		$parent("#parent_win").window({
			width:274,
			height:225,
			href:"/Bank/editBank?id="+obj.id,
			title:'编辑银行'
		});
	});
	//删除
	$("#bank_delete").on("click", function(){
		var obj =  $('#bank_tt').datagrid('getSelected');
		$.post('./delBank',{id:obj.id},function(data){
            //alert(data);
            if( data.statusCode == 200 ){
            	$parent.messager.alert("提示",data.message, "info");
            	$("#bank_tt").datagrid('load');
            	
            }else{
            	$parent.messager.alert("错误",data.message, "error");
            }
    	},'json');
	});
})

function viewDetail(date, id){
	$parent.messager.alert("提示","查询详细", "info");
}

//监听窗口大小变化
window.onresize = function(){
	setTimeout(domresize,300);
};
//改变表格宽高
function domresize(){
	$('#bank_tt').datagrid('resize',{  
		height:$("#bank_body").height()-$('#bank_search_area').height()-5,
		width:$("#bank_body").width()
	});
}
</script>

<div id="bank_body" region="center" > 
  <!-- 查询条件区域 -->
  <div id="bank_search_area" >
    <div id="conditon">
      <table border="0">
        <tr>
          <td>名称：</td>
          <td ><input  name="bankname" id="bankname"   /></td>
          <td>
              <a  href="javascript:void(0)" class="easyui-linkbutton my-search-button" iconCls="icon-search" plain="true">查询</a> 
              <a  href="javascript:void(0)" class="easyui-linkbutton my-search-button" iconCls="icon-reset" plain="true" >重置</a>
          </td>
        </tr>
      </table>
    </div>
    <span id="openOrClose">111</span> 
  </div>
  <!-- 数据表格区域 -->
  <table id="bank_tt" style="table-layout:fixed;" ></table>
  <!-- 表格顶部工具按钮 -->
  <div id="bank_tt_btn">
      <a href="javascript:void(0)"  id="bank_save" class="easyui-linkbutton" iconCls="icon-add" plain="true">新增</a>
      <a href="javascript:void(0)"  id="bank_edit" class="easyui-linkbutton" iconCls="icon-edit" plain="true">编辑</a>
      <a href="javascript:void(0)"  id="bank_delete" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
   </div>
</div>
</body>
</html>
